<div class="col-sm-6 col-sm-offset-2 panel">
	<span ng-if="ctrl.error.message" class="errorMsg">{{ctrl.error.message}}</span>
	<form name="loginForm" ng-submit="ctrl.submitForm()" novalidate>
		<h2>Please login</h2>

		<div class="form-group">
			<label for="email">Email address:</label> <input type="email"
				class="form-control" id="email" ng-model="ctrl.user.email" required>
		</div>
		<div class="form-group">
			<label for="pwd">Password:</label> <input type="password"
				class="form-control" id="pwd" ng-model="ctrl.user.password" required>
		</div>
		<button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="loginForm.$invalid">Submit</button>
		<span class="switchView" ng-click="ctrl.switchToRegister()">Register
			Here</span>
	</form>
</div>