<div class="header col-sm-12">
	<div class="heading">
		<img class="headerImg" src="images/cart.png" alt="Cart"> <span
			class="headerSpan">Angular Store</span>
	</div>
	<div class="settings">
		<span style="float:right;">
			<li class="dropdown" style="list-style: none;"><a
				class="dropdown-toggle pointer" data-toggle="dropdown"><span
					class="glyphicon glyphicon-cog"></span></a>
				<ul class="dropdown-menu">
					<li><span class="pointer" ng-click="ctrl.logout()">Logout</span></li>
					<li><span class="pointer">Page 1-2</span></li>
				</ul></li>
		</span>
	</div>


</div>